{% extends 'base.html.twig' %}

{% block title %}Керування базой резюме.{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="main_title">
            <div class="title_a"><a href="{{ path('company') }}">Компанії</a></div>
            <div class="title_a"><a href="{{ path('resume') }}">Резюме</a></div>
            <div class="title_a"><a href="{{ path('result') }}">Статистика</a></div>
        </div>
    </div>
{% endblock %}
