{% extends 'base.html.twig' %}

{% block title %}Створити Резюме{% endblock %}

{% block body %}
    <div class="wrapper">
        <h2>Резюме</h2>
        <div class="form">
            {{ form_start(form) }}
            <div class="form-group">
                <label for="textarea">{{ form_label(form.titleResume) }}</label><br>
                {{ form_widget(form.titleResume) }}
            </div>
            <div class="form-group">
                <label for="textarea">{{ form_label(form.description) }}</label><br>
                {{ form_widget(form.description) }}
            </div>
            <div class="form-group">
                <label for="textarea">{{ form_label(form.file) }}</label><br>
                {{ form_row(form.file) }}
            </div>
            <div class="form-group">
                <button type="submit">Створити</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}