{% extends 'base.html.twig' %}

{% block title %}Резюме{% endblock %}

{% block body %}
    <div class="wrapper">
        <h2>Список резюме</h2>
        <a href="{{ path('create_resume') }}">Створити Резюме</a>
        {% for resumes in resume %}
            <div class="title_content">
                <div>Назва Посади: {{ resumes.titleResume }}</div>
                <div class="view"><a href="{{ path('single_resume', {'resume':resumes.id}) }}">Перегляд</a></div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
