{% extends 'base.html.twig' %}

{% block title %}Резюме{% endblock %}

{% block body %}
    <div class="wrapper">
        <h2>{{ resume.titleResume }}</h2>
        <div class="title_content">
            <div>Назва Посади:{{ resume.titleResume }}</div>
            <br>
            <div>Опис Резюме:{{ resume.description }}</div>
            <br>
            <div> Файл Резюме: <a href="{{ asset('uploads/file/' ~ resume.file) }}">Переглянути файл</a></div>
            <br>
            <div>Дата створення:{{ resume.dateCreate|date("Y-m-d") }}</div>
            <br>
            <div>Дата редагування:{{ resume.dateUpdate|date("Y-m-d H:i:s") }}</div>
            <div class="view"><a href="{{ path('update_resume', {'resume':resume.id}) }}">Редагувати</a></div>
            <div class="view"><a href="{{ path('delete_resume', {'resume':resume.id}) }}">Видалити</a></div>
            <div class="view"><a href="{{ path('send_result', {'resume':resume.id}) }}">Відправити</a></div>
        </div>
    </div>
{% endblock %}