{% extends 'base.html.twig' %}

{% block title %}Send{% endblock %}

{% block body %}
    <div class="wrapper">
        <h2>Send</h2>
        <div class="title_content">
            {{ form_start(form) }}
            <div class="form-group">
                <label for="textarea">{{ form_label(form.idCompany) }}</label><br>
                {{ form_widget(form.idCompany) }} <br>
                <button type="submit">Відправити</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}