{% extends 'base.html.twig' %}

{% block title %}Відгук{% endblock %}

{% block body %}
    <div class="wrapper">
        <h2>Відгук</h2>
        <div class="title_content">
            {{ form_start(form) }}
            <div class="form-group">
                <label for="textarea">{{ form_label(form.feedback) }}</label><br>
                {{ form_widget(form.feedback) }}
            </div>
            <button type="submit">Відправити</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}