{% extends 'base.html.twig' %}

{% block title %}Статистика{% endblock %}

{% block body %}
    <div class="wrapper">
        <h2>Статистика відправлених резюме</h2>
        <a href="{{ path('statistic_result', {'feedback':'positive'}) }}">Позитивні</a>
        <a href="{{ path('statistic_result', {'feedback':'negative'}) }}">Негативні</a>
    </div>
{% endblock %}
