{% extends 'base.html.twig' %}

{% block title %}Статистика{% endblock %}

{% block body %}
    <div class="wrapper">
        <h2>Статистика відправлених резюме</h2>
        {{ dump(result) }}
{#        {% for results in result %}#}
{#            <div class="title_content">#}
{#                <div>Назва Компанії: {{ results.titleCompany }}</div>#}
{#                <br>#}
{#                <div class="view"> :{{ results.feedback }}</div>#}
{#            </div>#}
{#        {% endfor %}#}
    </div>
{% endblock %}
