*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

html{
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 80%;
    font-family: Verdana, Arial, sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main_title{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.title_a{

}

.title_content{
    width: 500px;
    background-color: #eeeeee;
    margin-top: 30px;
}

.view{
    width: 200px;
    text-align: center;
    background-color: rgba(0, 211, 83, 0.81);
    border-radius: 50px;
    margin-top: 10px;
}

.form{
    width: 500px;
    margin: 0 auto;
}

.form-group{
    width: 200px;
    margin: 0 auto;
}