{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <div class="wrapper">
        <h2>Компанія</h2>
        <div class="form">
            {{ form_start(form) }}
            <div class="form-group">
                <label for="textarea">{{ form_label(form.titleCompany) }}</label><br>
                {{ form_widget(form.titleCompany) }}
            </div>
            <div class="form-group">
                <label for="textarea">{{ form_label(form.siteCompany) }}</label><br>
                {{ form_widget(form.siteCompany) }}
            </div>
            <div class="form-group">
                <label for="textarea">{{ form_label(form.adressCompany) }}</label><br>
                {{ form_widget(form.adressCompany) }}
            </div>
            <div class="form-group">
                <label for="textarea">{{ form_label(form.phoneCompany) }}</label><br>
                {{ form_widget(form.phoneCompany) }}
            </div>
            <div class="form-group">
                <button type="submit">Створити</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}