{% extends 'base.html.twig' %}

{% block title %}Список Компаній{% endblock %}

{% block body %}
    <div class="wrapper">
        <h2>Список компаній</h2>
        <a href="{{ path('create_company') }}">Створити Компанію</a>
        {% for companys in company %}
            <div class="title_content">
                <div>Назва Компанії: {{ companys.titleCompany }}</div>
                <br>
                <div class="view"><a href="{{ path('single_company', {'company':companys.id}) }}">Перегляд</a></div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
