{% extends 'base.html.twig' %}

{% block title %}Отримані резюме{% endblock %}

{% block body %}
    <div class="wrapper">
        <h2>Отримані резюме</h2>
        {% for shows in show %}
            <div class="title_content">
                <div>
                    Назва Компанії: {{ shows.title_resume }}<br>
                    <a href="{{ path('update_result', {'result':shows.id}) }}">Оставити відгук</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
