{% extends 'base.html.twig' %}

{% block title %}Компанія{% endblock %}

{% block body %}
    <div class="wrapper">
        <h2>{{ company.titleCompany }}</h2>
        <div class="title_content">
            <div>Назва Компанії: {{ company.titleCompany }}</div>
            <br>
            <div>Сайт Компанії: {{ company.siteCompany }}</div>
            <br>
            <div>Адреса Компанії: {{ company.adressCompany }}</div>
            <br>
            <div>Телефон Компанії: {{ company.phoneCompany }}</div>
            <div class="view"><a href="{{ path('update_company', {'company':company.id}) }}">Змінити</a></div>
            <div class="view"><a href="{{ path('delete_company', {'company':company.id}) }}">Видалити</a></div>
            <div class="view"><a href="{{ path('show_resume', {'company':company.id}) }}">Отримані резюме</a></div>
        </div>
    </div>
{% endblock %}
